{% set fieldId = __SELF__.formFieldId() %}
<div class="form-group">
    {% if label %}<label for="{{ fieldId }}">{{ label }}</label>{% endif %}
    <select id="{{ fieldId }}" name="{{ name }}" class="form-control select {{ class }}" data-toggle="select">
    {% for key, option in options %}
        <option value="{{ key }}" {{ selected and selected == key ? 'selected' : '' }}>{{ option }}</option>
    {% endfor %}
    </select>
    <span class="form-field-error" data-validate-for="{{ name }}">{{ error }}</span>
</div>
